.highlight {
    background-color: yellow;
  }
  
  .error {
    background-color: lightcoral;
    border: red;
  }


body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-box {
    width: 70%;
    height: 20%;
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .text-box {
    width: 70%;
    height: 20%;
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#start {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 30px;
}
.copyright {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}